<hotel-carousel></hotel-carousel>

<div class="container" id="standard-room" [@fadeIn]>
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center py-md-5 pt-5">
			<h1>Standard Rooms</h1><br>
			<h5>Check-In Time: 2:00 PM. Check Out Time: 12:00 NOON</h5>
		</div>

		<div class="col-md-6 col-lg-6 pt-3">
			<div class="item">
				<img src="/assets/images/standard-outside.jpg" class="img-fluid img-thumbnail">
			</div>
			
		</div>

		<div class="col-md-6 col-lg-6 pt-3">
			<div class="item">
				<img src="/assets/images/standard-inside.jpg" class="img-fluid img-thumbnail">
			</div>
		</div>

		<div class="col-md-8 col-lg-6 pt-md-5 pt-3 pl-md-5">
			<div>
				<h4>Inclusions</h4>
				<ul>
					<li>Accommodation for two (2) persons w/ complimentary breakfast</li>
					<li>Fully Air-Conditioned Rooms</li>
					<li>Cable-Ready Flat Screen Television</li>
					<li>Free use of swimming pool</li>
				</ul>
			</div>
		</div>

		<div class="col-md-4 col-lg-6 pt-md-5">
			<div>
				<h4>Mode of Payment</h4>			
				<p>
					At least 25% initial down payment upon reservation/Contract Signing.<br> Cash Payment only, for the remaining 75% balance to be completed on the day of the Event.
				</p>
			</div>
		</div>


		<!-- Bali 2 -->
		<div class="col-md-12 text-center"><hr>
		    <div class="card-hover-shadow">
		    	<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
		    		<img src="/assets/images/standard-b.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
		    	</div>
		        <div class="media card-block">
		          <img src="/assets/images/standard-b.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
		          <div class="media-body text-left pl-md-5">
		            <h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Bali 2</h3>
		            <h5 class="px-3 pt-2">Capacity: 2 Persons | Extra Guest: Php 500.00 | Maximum Additional: 2 (Fees apply)</h5><hr>
    				<h5>Regular Season Rate: (Jan-Feb/ July-Nov):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 2,800.00<br>Weekend(Fri, Sat, Holidays): Php 3,300.00</p>
    	    		<br>
    				<h5>Peak Season Rate(March, April, May, June & Dec.):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 3,300.00<br>
        			Weekend(Fri, Sat, Holidays, all days preceding a Holiday & Dec. 24-Jan.1): Php 4,000.00
        			</p>
		          </div>
		        </div>
		    </div><hr>
		</div>

		<!-- Boston 2 -->
		<div class="col-md-12 text-center">
		    <div class="card-hover-shadow">
		    	<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
		    		<img src="/assets/images/standard-bn.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
		    	</div>
		        <div class="media card-block">
		          <img src="/assets/images/standard-bn.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
		          <div class="media-body text-left pl-md-5">
		            <h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Boston 2</h3>
		            <h5 class="px-3 pt-2">Capacity: 2 Persons | Extra Guest: Php 500.00 | Maximum Additional: 2 (Fees apply)</h5><hr>
    				<h5>Regular Season Rate: (Jan-Feb/ July-Nov):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 2,800.00<br>Weekend(Fri, Sat, Holidays): Php 3,300.00</p>
    	    		<br>
    				<h5>Peak Season Rate(March, April, May, June & Dec.):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 3,300.00<br>
        			Weekend(Fri, Sat, Holidays, all days preceding a Holiday & Dec. 24-Jan.1): Php 4,000.00
        			</p>
		          </div>
		        </div>
		    </div><hr>
		</div>

		<!-- Osaka 2 -->
		<div class="col-md-12 text-center">
		    <div class="card-hover-shadow">
		    	<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
		    		<img src="/assets/images/standard-os.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
		    	</div>
		        <div class="media card-block">
		          <img src="/assets/images/standard-os.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
		          <div class="media-body text-left pl-md-5">
		            <h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Osaka 2</h3>
		            <h5 class="px-3 pt-2">Capacity: 2 Persons | Extra Guest: Php 500.00 | Maximum Additional: 2 (Fees apply)</h5><hr>
    				<h5>Regular Season Rate: (Jan-Feb/ July-Nov):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 2,800.00<br>Weekend(Fri, Sat, Holidays): Php 3,300.00</p>
    	    		<br>
    				<h5>Peak Season Rate(March, April, May, June & Dec.):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 3,300.00<br>
        			Weekend(Fri, Sat, Holidays, all days preceding a Holiday & Dec. 24-Jan.1): Php 4,000.00
        			</p>
		          </div>
		        </div>
		    </div><hr>
		</div>

		<div class="col-md-12 col-lg-12 text-center py-md-3 pt-5">
			<h1>Standard Rooms Gallery</h1><br>
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/standard-b.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-2">
			<div class="card thumbnail">

				<img src="/assets/images/standard-b2.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/standard-bn.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/standard-os.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/standard.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/standard2.jpg">
			</div>
			
		</div>


	</div>
</div>
