.capacity-standard{
	border-style: none none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0cm 0cm 0.1cm 0.1cm; 
	width: 12%;
}

.capacity-standard-max{
	border-style: none none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0cm 0cm 0.1cm 0.1cm; 
	width: 11%;
}

.room-type{
	border-style: none none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0cm 0cm 0.1cm 0.1cm; 
	width: 21%;
}

.weekday-season-rate{
	border-style: none none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0cm 0cm 0.1cm 0.1cm; 
	width: 14.053935669456067%;
}

.weekday-season-rate-peak{
	border-style: none none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0cm 0cm 0.1cm 0.1cm; 
	width: 14%;
}

.weekend-season-rate{
	border-style: none none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0cm 0cm 0.1cm 0.1cm; 
	width: 13.946064330543933%;
}

.weekend-season-rate-peak{
	border-style: none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	border-right-width: 1px; 
	border-right-color: #000000; 
	padding: 0cm 0.1cm 0.1cm; 
	width: 15%;
}

.room-col-style{
	border-top-width: 1px; 
	border-style: solid none solid solid; 
	border-top-color: #000000; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0.1cm 0cm 0.1cm 0.1cm; 
	width: 21%;
}

.capacity-col-style{
	border-top-width: 1px; 
	border-style: solid none solid solid; 
	border-top-color: #000000; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0.1cm 0cm 0.1cm 0.1cm; 
	width: 23%;
}

.season-rate-style{
	border-top-width: 1px; 
	border-style: solid none solid solid; 
	border-top-color: #000000; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0.1cm 0cm 0.1cm 0.1cm; 
	width: 28%;
}

.pool-details{
	border-style: none none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000; 
	padding: 0cm 0cm 0.1cm 0.1cm; 
	width: 72%;
}

.cottage-details{
	border-style: none none solid solid; 
	border-bottom-width: 1px; 
	border-bottom-color: #000000; 
	border-left-width: 1px; 
	border-left-color: #000000;
	padding: 0cm 0cm 0.1cm 0.1cm; 
	width: 86%;
}

tr{
	td{
		p{	
			font-size: 11pt;
		}
	}
}


.btn-header{
  position: absolute;
  top: 81.5%;
  right: 5%;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.btn-header-arrow{
  -moz-transform: rotate(-45deg) !important;
  -webkit-transform: rotate(-45deg) !important;
  -o-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
  font-size: 18px !important;
  padding-right: 4px;
  z-index: -1;
  padding-top: 5px;
  cursor: pointer;
}

.btn-activity{
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-menu{
  background: #88bc71;
}

.about-position{
	@media (max-width:641px)  { 
		margin-top: -10% !important;
		border-radius: 10px 10px 0  0;
		border: none;
	}
}

.card{
	border: none !important;
}