<hotel-carousel></hotel-carousel>

<!--
<button type="button" (click)="goToMenu()" class="btn btn-menu text-white btn-activity btn-header d-none d-sm-none d-md-block">
  <span class="fa fa-chevron-circle-down btn-header-arrow"></span>
</button> -->

<div class="container-fluid" [@slideInOut]>
	<div class="container card about-position  px-md-5" id="hotel-main">
		<div class="row">
			<div class="col-md-12 col-lg-12 text-center py-5" [@fadeIn]>
				<h1 class="d-none d-sm-none d-md-block">Hotel/Room Rates</h1>
				<h3 class="d-block d-sm-block d-md-none">Hotel/Room Rates</h3>
				<br>
				<h5 class="d-none d-sm-none d-md-block">Need a place to stay for the night? We have several accommodations for you or your entire family, and yes of course you can bring your entire friends. After surrounding yourself with nature why not sleep in the midst of serenity and take this calmness and peace with you in the city life. It is the one you are looking for or at least close to it. You need several nights? No problem call us or use our contact page to give us details of what you need and one of our friendly staff will prepare the right room for you. </h5>

				<h5 class="d-block d-sm-block d-md-none px-3 text-justify">Need a place to stay for the night? We have several accommodations for you or your entire family, and yes of course you can bring your entire friends. After surrounding yourself with nature why not sleep in the midst of serenity and take this calmness and peace with you in the city life. It is the one you are looking for or at least close to it. You need several nights? No problem call us or use our contact page to give us details of what you need and one of our friendly staff will prepare the right room for you. </h5>
			</div>


			<div class="col-md-12 table-responsive py-4">
				<table class="table table-condensed" cellspacing="0" cellpadding="4"><colgroup><col width="54*"> <col width="30*"> <col width="28*"> <col width="35*"> <col width="35*"> <col width="36*"> <col width="38*"> </colgroup>
					<tbody>
						<tr>
							<td class="room-col-style" rowspan="3">
								<p align="center"><b>ROOMS</b></p>
							</td>
							<td class="capacity-col-style" colspan="2" rowspan="2">
								<p align="center"><b>CAPACITY</b></p>
							</td>
							<td class="season-rate-style" colspan="2">
								<p align="center"><b>Regular Season Rate</b></p>
								<p align="center"><b>(Jan-Feb/ July-Nov.)</b></p>
							</td>
							<td style="border: 1px solid #000000; padding: 0.1cm; width: 29%;" colspan="2">
								<p align="center"><b>Peak Season Rate</b></p>
								<p align="center"><b>(March, April, May, June &amp; Dec.)</b></p>
							</td>
						</tr>
						<tr>
							<td class="weekday-season-rate">
								<p align="center"><span><b>Weekday</b></span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span><b>Weekend</b></span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span><b>Weekday</b></span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span><b>Weekend</b></span></p>
							</td>
						</tr>
						<tr>
							<td class="capacity-standard">
								<p align="center"><span>Standard</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>Maximum</span></p>
								<p align="center"><span>additional (fees</span></p>
								<p align="center"><span>apply)</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>(Sunday-</span></p>
								<p align="center"><span>Thursday)</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>(Friday, Saturday,</span></p>
								<p align="center"><span>Holidays</span><span>)</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>(Sunday-</span></p>
								<p align="center"><span>Thursday)</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>(Friday, Saturday,</span></p>
								<p align="center"><span>Holidays, all days</span></p>
								<p align="center"><span>preceding a Holiday &amp;</span></p>
								<p align="center"><span>Dec.24-Jan.1)</span></p>
							</td>
						</tr>
						<tr class="bg-warning text-white">
							<td class="room-type pl-3 pt-2 pt-3 pl-3">
								<p align="left"><span><b>STANDARD</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center">&nbsp;</p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Bali 2</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 2,800</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 3,300</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 3,300</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 4,000</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Boston 2</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 2,800</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 3,300</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 3,300</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 4,000</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Osaka 2</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 2,800</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 3,300</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 3,300</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 4,000</span></p>
							</td>
						</tr>
						<tr class="bg-warning text-white">
							<td class="room-type pl-3 pt-2 pt-3">
								<p align="left"><span><b>DELUXE</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center">&nbsp;</p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Bali 1</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4, 600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,600</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Boston 1</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4, 600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,600</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Osaka 1</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4, 600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,600</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Paris</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4, 600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,600</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Nice</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4, 600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,600</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Milan</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4, 600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,600</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Madrid</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4, 600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,600</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Persia</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>2</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4, 600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,600</span></p>
							</td>
						</tr>
						<tr class="bg-warning text-white">
							<td class="room-type pl-3 pt-2 pt-3 pl-3">
								<p align="left"><span><b>VILLAS</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center">&nbsp;</p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 1-European</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 2-Everglades</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 3-Mexican</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 4-Date</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 5-Spring</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 6-Hawaiian</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 7-Windmill</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 8-Red</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 9-Travellers</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Villa 10-Blue Rock</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>4</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>2</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,500</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,400</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,400</span></p>
							</td>
						</tr>
						<tr class="bg-warning text-white">
							<td class="room-type pl-3 pt-2 pl-3 pt-3">
								<p align="left"><span><b>DORMITORY</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center">&nbsp;</p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Dormitory 1</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>8</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,700</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,600</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,600</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,700</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Dormitory 2</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>8</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,700</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,600</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,600</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,700</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Dormitory 3</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>8</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 4,700</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 5,600</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 5,600</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 6,700</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Dormitory 4</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>10</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 5,900</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 7,000</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 7,000</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 8,400</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span>Dormitory 5</span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>16</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 9,600</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P11,500</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P11,500</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P13,800</span></p>
							</td>
						</tr>
						<tr class="bg-warning text-white">
							<td class="room-type pl-3 pt-2 pl-3 pt-3">
								<p align="left"><span><b>REST HOUSE</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>20</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center"><span>10</span></p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span>P 8,400+++</span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>P 10,000+++</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>P 10,000+++</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center"><span>P 12,000+++</span></p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left">&nbsp;</p>
							</td>
							<td class="capacity-standard">
								<p align="center">&nbsp;</p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr class="bg-success text-white pool-details">
							<td class="pool-details pl-3 pt-3" colspan="5">
								<p align="left"><span><b>POOL ENTRANCE Day Tour 8:00 AM to 5:00 PM</b></span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left">&nbsp;</p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span><b>LAGOON</b></span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span><b>INFINITY Pool</b></span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span><b>Adult</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>100</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span><b>Adult</b></span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>150</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span><b>Kids (4ft below)</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>80</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span><b>Kids (4ft below)</b></span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>100</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span><b>Student</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>90</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span><b>Student</b></span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>130</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span><b>Senior</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>80</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center"><span><b>Senior</b></span></p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>120</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr class="bg-success text-white pool-details">
							<td class="cottage-details pl-3 pt-3" colspan="6">
								<p align="left"><span><b>Additional P 50 per/head for night swimming from 6:00 PM to 11:00 PM</b></span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span><b>Lagoon Kubo</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>300 for 8pax</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span><b>Infinity Table</b></span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center"><span>500 for 6 pax&nbsp;</span></p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left"><span><b>Lagoon Table</b></span></p>
							</td>
							<td class="capacity-standard">
								<p align="center"><span>200 for 8pax</span></p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center"><span>&nbsp;</span></p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left">&nbsp;</p>
							</td>
							<td class="capacity-standard">
								<p align="center">&nbsp;</p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
						<tr>
							<td class="room-type pl-3 pt-2">
								<p align="left">&nbsp;</p>
							</td>
							<td class="capacity-standard">
								<p align="center">&nbsp;</p>
							</td>
							<td class="capacity-standard-max">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekday-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
							<td class="weekend-season-rate-peak">
								<p align="center">&nbsp;</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>