.menu{
	background:  #88bc71;
}

.about-position{
	@media (max-width:641px)  { 
		margin-top: -10% !important;
		border-radius: 10px 10px 0  0;
		border: none;
	}
}

.card{
	border: none !important;
}