
<div class="container-fluid" [@slideInOut]>
  <div class="container card about-position" *ngIf="visible" >
    <div class="row">
      <div class="col-md-12 col-lg-12 py-md-5 mt-3 px-md-5 text-center" >
        <h1 class="d-none d-sm-none d-md-block">Welcome to Kamayan sa Palaisdaan</h1>
        <h3 class="d-block d-sm-block d-md-none">Welcome to Kamayan sa Palaisdaan</h3>

        <img src="/assets/images/palaisdaan.jpg" class="img-fluid py-4 d-block d-sm-block d-md-none">
        <h5 class="d-none d-sm-none d-md-block">Just contact us. We are happy to serve you at a price that will surely fit your budget. <br>Dine and enjoy the view whatever the occasion is. </h5>
      </div>
    </div>
  </div> 

  <div class="container card py-md-2  px-md-5 pb-4">
    <div class="row">
      <div class="col-md-4 col-lg-4 text-center pb-2">
        <span  id="about-kamayan"></span>
        <h5 class="text-justify px-3"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This restaurant is in existence for two decades</strong> we have so many memories in this place, we have brought so many dates, girls and girlfriends here. The place to go with your barkada. What a great place. The place is amazing and we truly believe that it is the best restaurant in the Philippines not only because of the food, ambiance and affordable price but because we have been part of it many Filipino people have been part of Kamayan Sa Palaisdaan! It is the best Restaurant because of us, most of us have been part of it. </h5>
        <hr>
        <img src="/assets/images/foods.jpg" class="img-fluid">
      </div>

      <div class="col-md-8 col-lg-8 text-center pb-2">
        <img src="/assets/images/floating.jpg" class="img-fluid img-thumbnail">
        <div class="pt-5">
          <br>
          <h5 class="text-capitalize px-5">Located in Tayabas, Quezon, <strong>Kamayan sa Palaisdaan</strong> is an ideal getaway restaurant for seafood lovers.</h5><br><br>
          <a routerLink="/menu" class="btn menu text-light py-2 px-5 menu">Check our Menu</a>
        </div>
        
      </div>
      
    </div>
    
  </div>
</div>
