<!---->
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top" id="first-navbar-top" [ngClass]="!fixed ? '' : 'fixed-top fixed-top-background'">
	<nav class="container">
		<a class="navbar-brand text-u container-text" routerLink="/">
			<img src="./assets/images/kamayanLogo.png" [ngClass]="!fixed ? 'w-50' : 'w-25'">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-top">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown pt-2" >
					<a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/" id="HomeDropdown" role="button" data-toggle="dropdown">
			          Home
			        </a>
			        <div class="dropdown-menu" aria-labelledby="HomeDropdown" [routerLink]="['/']" fragment="/" data-toggle="collapse" data-target=".navbar-collapse.show">
			          	<a class="dropdown-item" href="#home">
			          	<span class="fa fa-angle-right mr-3"></span>Home</a>

			          	<a class="dropdown-item" href="#about-kamayan">
			          	<span class="fa fa-angle-right mr-3"></span>About</a>

			          	<a class="dropdown-item" href="#food-variety">
			          	<span class="fa fa-angle-right mr-3"></span>Variety of Foods</a>

			          	<a class="dropdown-item" href="#home-facilities">
			          	<span class="fa fa-angle-right mr-3"></span>Facilities</a>

			          	<a class="dropdown-item" href="#map-data">
			          	<span class="fa fa-angle-right mr-3"></span>Map</a>

			          	<div class="dropdown-divider"></div>
			        </div>
				</li>

				<li class="nav-item dropdown pt-2" >
					<a class="nav-link" [routerLinkActive]="['active']" routerLink="/menu" id="MenuPackage" role="button" data-toggle="dropdown" aria-expanded="false">
			          Menu/Packages
			        </a>
			        <div class="dropdown-menu" aria-labelledby="MenuPackage" data-toggle="collapse" data-target=".navbar-collapse.show">
			        	<a class="dropdown-item" routerLink="/menu" >
			        	<span class="fa fa-angle-right mr-3"></span>Main Menu</a>

			          	<a class="dropdown-item" routerLink="/menu/all-occations" >
			          	<span class="fa fa-angle-right mr-3"></span>For All Occation</a>

			          	<a class="dropdown-item" routerLink="/menu/per-order-basis">
			          	<span class="fa fa-angle-right mr-3"></span>Pre Order Basis</a>

			          	<a class="dropdown-item" routerLink="/menu/native-style-wedding">
			          	<span class="fa fa-angle-right mr-3"></span>Native Style Wedding</a>

			          	<a class="dropdown-item" routerLink="/menu/nature-crest-wedding" >
			          	<span class="fa fa-angle-right mr-3"></span>Nature Crest Wedding</a>

			          	<a class="dropdown-item" routerLink="/menu/kiddie-party" >
			          	<span class="fa fa-angle-right mr-3"></span>Kiddie Party</a>

			          	<div class="dropdown-divider"></div>
			        </div>
				</li>

				<li class="nav-item dropdown pt-2">
					<a class="nav-link" [routerLinkActive]="['active']" routerLink="/hotels" id="HotelRooms" role="button" data-toggle="dropdown" aria-expanded="false">
			          Hotel/Rooms 
			        </a>
			        <div class="dropdown-menu" aria-labelledby="HotelRooms" data-toggle="collapse" data-target=".navbar-collapse.show">
			        	<a class="dropdown-item" routerLink="/hotels" >
			        	<span class="fa fa-angle-right mr-3"></span>All Room Rates</a>

			          	<a class="dropdown-item" href="#">
			          	<span class="fa fa-angle-right mr-3"></span>Renthouse</a>

			          	<a class="dropdown-item" href="#">
			          	<span class="fa fa-angle-right mr-3"></span>Villa Rooms</a>

			          	<a class="dropdown-item" href="#">
			          	<span class="fa fa-angle-right mr-3"></span>Dormitory Rooms</a>

			          	<a class="dropdown-item" href="#">
			          	<span class="fa fa-angle-right mr-3"></span>Standard Rooms</a>

			          	<a class="dropdown-item" href="#">
			          	<span class="fa fa-angle-right mr-3"></span>Deluxe Rooms</a>

			          	<div class="dropdown-divider"></div>
			        </div>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" href="#"> Facilities

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" href="#"> Restaurant

					</a>
				</li>
			</ul>

			
		</div>

	</nav>
</nav>

<!--
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top" id="small-navbar-top">
	<nav class="container">
		<a class="navbar-brand text-u container-text" routerLink="/">
			<img src="./assets/images/kamayanLogo.png" class="w-50">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-top">
			<ul class="navbar-nav ml-auto">


				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/"> Home 

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/"> Menu/Packages 

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/"> Hotel/Rooms 

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" href="#"> Facilities/Restaurant 

					</a>
				</li>
			</ul>

			
		</div>

	</nav>
</nav>-->
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-light" id="second-navbar">
	<nav class="container">

		<div class="collapse navbar-collapse" id="navbar-top">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/"> CALL US NOW (042) 793-3654 

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/">Tayabas City, Philippines 

					</a>
				</li>
			</ul>
		</div>

	</nav>
</nav>-->
