<!---->
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top" id="first-navbar-top" [ngClass]="!fixed ? '' : 'fixed-top fixed-top-background'">
	<nav class="container">
		<a class="navbar-brand text-u container-text" routerLink="/">
			<img src="./assets/images/kamayanLogo.png" [ngClass]="!fixed ? 'w-50' : 'w-25'">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-top">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown pt-2" >
					<a class="nav-link" 
						[routerLinkActive]="['active']" 
						[routerLinkActiveOptions]="{exact:true}" 
						routerLink="/" id="HomeDropdown" 
						role="button" 
						data-toggle="dropdown" 
						[@animate]="{value:'*', params:{ scale:'0.5', delay:'400ms' }}">
			          Home
			        </a>
			        <div class="dropdown-menu" aria-labelledby="HomeDropdown" [routerLink]="['/']" fragment="/" data-toggle="collapse" data-target=".navbar-collapse.show"  >
			          	<a class="dropdown-item" href="#home">
			          	Home</a>

			          	<a class="dropdown-item" href="#about-kamayan">
			          	About</a>

			          	<a class="dropdown-item" href="#food-variety">
			          	Variety of Foods</a>

			          	<a class="dropdown-item" href="#home-facilities">
			          	Facilities</a>

			          	<a class="dropdown-item" href="#map-data">
			          	Map</a>
			        </div>
				</li>

				<li class="nav-item dropdown pt-2" >
					<a class="nav-link" 
						[routerLinkActive]="['active']" 
						routerLink="/menu" 
						id="MenuPackage" 
						role="button" 
						data-toggle="dropdown" 
						aria-expanded="false"
						[@animate]="{value:'*', params:{ scale:'0.5', delay:'400ms' }}">
			          Menu/Packages
			        </a>
			        <div class="dropdown-menu" aria-labelledby="MenuPackage" data-toggle="collapse" data-target=".navbar-collapse.show">
			        	<a class="dropdown-item" routerLink="/menu" >
			        	Main Menu</a>

			          	<a class="dropdown-item" routerLink="/menu/all-occations" >
			          	For All Occation</a>

			          	<a class="dropdown-item" routerLink="/menu/per-order-basis">
			          	Per Order Basis</a>

			          	<a class="dropdown-item" routerLink="/menu/native-style-wedding">
			          	Native Style Wedding</a>

			          	<a class="dropdown-item" routerLink="/menu/nature-crest-wedding" >
			          	Nature Crest Wedding</a>

			          	<a class="dropdown-item" routerLink="/menu/kiddie-party" >
			          	Kiddie Party</a>
			        </div>
				</li>

				<li class="nav-item dropdown pt-2">
					<a class="nav-link" 
						[routerLinkActive]="['active']" 
						routerLink="/hotels" 
						id="HotelRooms" 
						role="button" 
						data-toggle="dropdown" 
						aria-expanded="false"
						[@animate]="{value:'*', params:{ scale:'0.5', delay:'400ms' }}">
			          Hotel/Rooms 
			        </a>
			        <div class="dropdown-menu" aria-labelledby="HotelRooms" data-toggle="collapse" data-target=".navbar-collapse.show">
			        	<a class="dropdown-item" routerLink="/hotels" >
			        	All Room Rates</a>

			          	<a class="dropdown-item" routerLink="/hotels/rest-house">
			          	Resthouse</a>

			          	<a class="dropdown-item" routerLink="/hotels/villa-rooms">
			          	Villa Rooms</a>

			          	<a class="dropdown-item" routerLink="/hotels/deluxe">
			          	Deluxe Rooms</a>

			          	<a class="dropdown-item" routerLink="/hotels/standard">
			          	Standard Rooms</a>

			          	<a class="dropdown-item" routerLink="/hotels/dormitory">
			          	Dormitory Rooms</a>   	

			          	<a class="dropdown-item" href="http://www.booking.com/Share-gBhWZT" target="_blank">
			          	Book Now</a>
			        </div>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" 
						[routerLinkActive]="['active']" 
						routerLink="/facilities"
						[@animate]="{value:'*', params:{ scale:'0.5', delay:'400ms' }}"> 
					Facilities
					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" 
						[routerLinkActive]="['active']" 
						routerLink="/restaurant"
						[@animate]="{value:'*', params:{ scale:'0.5', delay:'400ms' }}"> 
					Restaurant
					</a>
				</li>
			</ul>

			
		</div>

	</nav>
</nav>

<!--
<nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top" id="small-navbar-top">
	<nav class="container">
		<a class="navbar-brand text-u container-text" routerLink="/">
			<img src="./assets/images/kamayanLogo.png" class="w-50">
		</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-top">
			<ul class="navbar-nav ml-auto">


				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/"> Home 

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/"> Menu/Packages 

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/"> Hotel/Rooms 

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" href="#"> Facilities/Restaurant 

					</a>
				</li>
			</ul>

			
		</div>

	</nav>
</nav>-->
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-light" id="second-navbar">
	<nav class="container">

		<div class="collapse navbar-collapse" id="navbar-top">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/"> CALL US NOW (042) 793-3654 

					</a>
				</li>

				<li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
					<a class="nav-link pt-3" routerLink="/">Tayabas City, Philippines 

					</a>
				</li>
			</ul>
		</div>

	</nav>
</nav>-->
