
.menu{
	background:  #88bc71;
}

.three-images-wrapper {
  .three-images {
    margin-bottom: 4rem;
    min-height: 360px;
    position: relative;
  }
  
  .featured-image-outer {
    position: absolute;
    margin-left: -10%;
    min-height: 360px;
    overflow: hidden;
    width: 76.5%;
    -ms-transform: skew(-15deg,0deg); /* IE 9 */
    -webkit-transform: skew(-15deg,0deg); /* Safari */
    transform: skew(-15deg,0deg); /* Standard syntax */
  }

  .featured-image-inner,
  .two-images-inner {
    background-size: cover;
    background-position: center;
  }
  
  .featured-image-inner {
    left: 50px;
    position: absolute;
    top: 0;
    height: 360px;
    width: 100%;
    -ms-transform: skew(15deg,0deg); /* IE 9 */
    -webkit-transform: skew(15deg,0deg); /* Safari */
    transform: skew(15deg,0deg); /* Standard syntax */
  }
  
  .two-images {
    min-height: 360px;
    position: relative;
    right: -68%;
    top: 0;
    width: 40%;
    -ms-transform: skew(-15deg,0deg); /* IE 9 */
    -webkit-transform: skew(-15deg,0deg); /* Safari */
    transform: skew(-15deg,0deg); /* Standard syntax */

    .two-images-outer {
      min-height: 180px;
      overflow: hidden;
      position: relative;
      width: 100%;

      .two-images-inner {
        position: absolute;
        height: 170px;
        right: 10%;
        width: 100%;
        -ms-transform: skew(15deg,0deg); /* IE 9 */
        -webkit-transform: skew(15deg,0deg); /* Safari */
        transform: skew(15deg,0deg); /* Standard syntax */
      }
    }
    
    .two-images-outer:nth-of-type(2) {
      margin-top: 10px;
    }
  }
}

.item {
  position: relative;
  border: 1px solid #e2e2e2;
  overflow: hidden;

  img{
    max-width: 100%;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  &:hover img {
    cursor: pointer;
    -moz-transform: rotate(-10deg) scale(1.4);
    -webkit-transform: rotate(-10deg) scale(1.4);
    transform: rotate(-10deg) scale(1.4);
    z-index: 0;
    position: relative;
  }

  

  &:before{
    content: "";
      color: white;
      position: absolute;
      left: 0; 
      right: 0;
      top: 0; 
      bottom: 0;
      background: rgba(0,0,0, 0.2);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67229', endColorstr='#fff0de', GradientType=1 );
    
  }
}