<hotel-carousel></hotel-carousel>

<div class="container" id="hotel-villa" [@fadeIn]>
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center py-5">
			<h1>Villa Rooms</h1><br>
			<h5>Good for Four (4) Persons. Check-In Time: 2:00 PM. Check Out Time: 12:00 NOON</h5>
		</div>

		<div class="col-md-6 text-center mb-4 px-3">
			<div class="card py-5 px-4">
				<h5>Regular Season Rate: (Jan-Feb/ July-Nov):
	    		</h5><hr>
	    		<p class="px-3"> Weekday(Sun-Thu):Php 4,500.00<br>Weekend(Fri, Sat, Holidays): Php 5,400.00</p><br>
			</div>
		</div>

		<div class="col-md-6 text-center mb-4 px-3">
			<div class="card py-5 px-4">
				<h5>Peak Season Rate(March, April, May, June & Dec.):
	    		</h5><hr>
	    		<p class="px-3"> Weekday(Sun-Thu): Php 5,400.00<br>
    			Weekend(Fri, Sat, Holidays, all days preceding a Holiday & Dec. 24-Jan.1): Php 6,400.00
    			</p>
			</div>
		</div>

		<div class="col-md-12 col-lg-12 text-center py-5">
			<h5>Capacity: 4 Persons</h5>
			<h5>Extra Guest: Php 500.00</h5>
			<h5>Maximum additional: 2 (fees apply)</h5><hr>
		</div>

		<div class="col-md-8 pb-md-5 px-4">
			<img class="d-block w-100 img-thumbnail shadow-sm" src="/assets/images/villa.jpg">

			<div class="pt-5">
				<h4>Inclusions</h4>
				<ul>
					<li>Accommodation for four(4) persons</li>
					<li>Complimentary Breakfast for four(4)</li>
					<li>Cable-Ready Flat Screen Television</li>
					<li>Free use of swimming pool</li>
				</ul>
				<hr>
				<h4>Villa Galleries</h4><br>
				<button class="btn btn-default" data-toggle="modal" data-target="#villaGalleryModal">Checkout Villa Galleries</button>
			</div>
			<hr>
			<div class="pb-5">
				<h4>Mode of Payment</h4>			
				<p>
					At least 25% initial down payment upon reservation/Contract Signing.<br> Cash Payment only, for the remaining 75% balance to be completed on the day of the Event.
				</p>
			</div>
		</div>
		<div class="col-md-4 pb-5">
			<img class="d-block w-100 img-thumbnail shadow" src="/assets/images/villa-room2.jpg">
			<img class="d-block w-100 img-thumbnail shadow" src="/assets/images/villa-room6.jpg">
			<img class="d-block w-100 img-thumbnail shadow" src="/assets/images/villa-room14.jpg">
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="villaGalleryModal" tabindex="-1" role="dialog" aria-labelledby="villaGalleryModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      	<div class="modal-header">
        	<h5 class="modal-title" id="villaGalleryModalLabel">Villa Rooms</h5>
        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          	<span aria-hidden="true">&times;</span>
        	</button>
      	</div>
      	<div class="modal-body">
      		<div id="villaCarousel" class="carousel slide " data-ride="carousel">
  			  	<div class="carousel-inner">
  			  		<div class="carousel-item active shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room17.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 1</h3>
  			  		    </div>
  			  		</div>
  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room18.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 1</h3>
  			  		    </div>
  			  		</div>
  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room19.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 1</h3>
  			  		    </div>
  			  		</div>
  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room20.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 1</h3>
  			  		    </div>
  			  		</div>
  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room21.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 1</h3>
  			  		    </div>
  			  		</div>
  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room22.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 1</h3>
  			  		    </div>
  			  		</div>

  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 2</h3>
  			  		    </div>
  			  		</div>
  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa3.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 2</h3>
  			  		    </div>
  			  		</div>
  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa4.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 2</h3>
  			  		    </div>
  			  		</div>
  			  		<div class="carousel-item shadow-sm">
  			  		  	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa6.jpg">
  			  		  	<div class="carousel-caption d-none d-md-block">
  			  		      <h3>Villa Room 2</h3>
  			  		    </div>
  			  		</div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 3</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room2.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 3</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room3.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 3</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room4.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 3</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room5.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 3</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room6.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 4</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room7.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 4</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room8.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 4</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room9.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 4</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room10.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 4</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room11.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 4</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room12.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 4</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room13.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 5</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room14.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 5</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room15.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 5</h3>
	  			        </div>
	  			    </div>
	  			    <div class="carousel-item shadow-sm">
	  			      	<img class="d-block w-100 img-thumbnail" src="/assets/images/villa-room16.jpg">
	  			      	<div class="carousel-caption d-none d-md-block">
	  			          <h3>Villa Room 5</h3>
	  			        </div>
	  			    </div>
  			  	</div>

  			  	<ol class="carousel-indicators">
  			  	    <li data-target="#villaCarousel" data-slide-to="0" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room17.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="1" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room18.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="2" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room19.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="3" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room20.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="4" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room21.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="5" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room22.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="6" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="7" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa3.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="8" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa4.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="9" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa6.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="10" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="11" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room2.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="12" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room3.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="13" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room4.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="14" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room5.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="15" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room6.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="16" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room7.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="17" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room8.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="18" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room9.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="19" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room10.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="20" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room11.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="21" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room12.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="22" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room13.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="23" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room14.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="24" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room15.jpg">
  			  	    </li>

  			  	    <li data-target="#villaCarousel" data-slide-to="25" class="active">
  			  	        <img class="d-block img-fluid" src="/assets/images/villa-room16.jpg">
  			  	    </li>


  			  	    
  			  	</ol>

  			  	<a class="carousel-control-prev" href="#villaCarousel" role="button" data-slide="prev">
  			    	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
  			    	<span class="sr-only">Previous</span>
  			  	</a>
  			  	<a class="carousel-control-next" href="#villaCarousel" role="button" data-slide="next">
  			    	<span class="carousel-control-next-icon" aria-hidden="true"></span>
  			    	<span class="sr-only">Next</span>
  			  	</a>
      			</div>
      	</div>
      	<div class="modal-footer">
        	<a href="http://www.booking.com/Share-gBhWZT" target="_blank" class="btn btn-secondary btn-sm px-3 py-2">Book Now</a>
      	</div>
    </div>
  </div>
</div>