<!-- Header carousel -->
<menu-carousel></menu-carousel>

<div class="container py-5" id="per-order-packages" [@fadeIn]>
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center">
			<h1>Per Order Basis Package</h1>
			<h4>Please Take Note that mostly our menu is good for 3-4 persons</h4>
			<br><br>
			<h5 class="text-left">The menu consists mostly of fish, since Tayabas is known for their light and delectable seafood compared to Lucban's meat fest. Big winners are the Inihaw na Pla-Pla (also known as tilapia), and the inihaw na Hito. All his cooks are native chefs, so one can expect an authentic taste of Tayabas in their dishes. Other dishes, worthy of praise are the Inihaw na Spare Ribs, Squid in Oyster Sauce, and their own version of Salpicao (mixed vegatable &
			 seafoods). </h5>

			<div class="py-4 my-5" [@scrollAnimation]="state">
				<img src="/assets/images/pre-order-menu.jpg" class="img-fluid shadow">
			</div>

			
		</div>

		<div class="col-md-6 px-md-5 text-justify">
			<h4>Inclusions</h4>
			<p>
			    Complimentary use of venue for 5 hours (Restaurant); <br>
			    Buffet set-up following the Package Menu of your Choice; <br>
			    Buffet Table with floor length linen and skirting; <br>
			    and Tables and Chairs with set-up
			</p>	
		</div>

		<div class="col-md-6 px-md-5 text-justify">
			<h4>Mode of Payment</h4>			
			<p>
				At least 25% initial down payment upon reservation/Contract Signing.<br> Cash Payment only, for the remaining 75% balance to be completed on the day of the Event.
			</p>
		</div>

		<div class="col-md-12 text-center"><hr>
			<i class="text-muted">Prices are subject to change without prior notice. </i>
		</div>
		
		
		
	</div>
	
</div>

