<!-- Modal -->
<div class="modal fade pt-5 mt-5" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header" style="background: rgba(98, 132, 80, 0.85)">
				<h5 class="modal-title text-light">Contact Us</h5>
				<button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<div class="text-center">
					<h3>Get in touch via contact form or email me directly</h3>
					<h5>I will get back to you as soon as possible</h5>

					<img src="/assets/images/love.jpg" class="img-fluid py-4">

					<br>
				</div>

				<form >
					<fieldset>
						<div class="form-group">
							<div class="col-md-12">
								<input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject"  required>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<input type="text" class="form-control" id="name" name='name' placeholder="From" required>  
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-12">
								<input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
							</div>
						</div>
						<br>
						<div class="form-group">
							<label for="message" class="col-md-12 control-label">Message:</label>
							<div class="col-md-12">
								<textarea class="form-control" rows="3" id="message" name='message' required></textarea>
							</div>
						</div>

						<br>

					</fieldset>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn menu text-light btn-lg px-5">
					<small>Send</small>
				</button>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid" style="background: whitesmoke;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 py-5 mt-3 px-5 text-center">
        <h1>Contact us</h1>
        <h5>Send us a mail or book a reservation. <br>Call us @ (042) 793-3654. Tayabas City. Philippines.</h5>

        <br>
          <button class="btn py-2 px-5 menu text-light"  data-toggle="modal" data-target="#exampleModal">Contact us</button><br>
      </div>
    </div>
  </div>
</div>

<span   id="home-facilities"></span>

<div class="container-fluid py-5">
  <div class="container">
    <div class="row">
    	<div class="col-md-12 col-lg-12 text-center">
    		<h1>Facilities</h1>
    		<h5>List of affordable services we offers. Check it out now and enjoy it with your family.</h5><br><br>
    	</div>


      <div class="col-md-4 col-lg-4 text-center py-4">
      	<div class="card px-md-3 py-4 pb-3">
      		<strong><h3>Restaurant</h3></strong><br>
      		<img src="/assets/images/facilities.png" class="img-fluid"><br><br>
      		<h5 class="text-left px-3">The Kamayan sa Palaisdaan Restaurant is a mecca for seafood lovers as it serves scrumptious fresh seafoods and other Filipino favorites in a serene atmosphere. Kamayan Sa Palaisdaan Air plane Ready for Take off, just waiting for you! Get ready for a fun dining experience like no other.</h5><br>
      		<a href="/">Visit <span class="fa fa-chevron-right ml-3"></span></a>
      	</div>
        
      </div>

      <div class="col-md-4 col-lg-4 text-center py-4">
        <div class="card px-md-3 py-4 pb-3">
        	<strong><h3>Hotel/Pool</h3></strong><br>
        	<img src="/assets/images/pool.png" class="img-fluid"><br><br>
        	<h5 class="text-left px-3">Kamayan sa Palaisdaan Restaurant Hotel and Resort offers air-conditioned rooms that are furnished with an ultra-comfortable bed with crisp linens, TV with cable programming, other standard room amenities such as towels and toiletries, and a private toilet and bath with hot and cold shower. </h5><br>
        	<a routerLink="/hotels">Visit <span class="fa fa-chevron-right ml-3"></span></a>
        </div>
      </div>

      <div class="col-md-4 col-lg-4 text-center py-4">
      	<div class="card px-md-3 py-4 pb-3">
      		<strong><h3>Best Seller</h3></strong><br>
      		<img src="/assets/images/bestseller.png" class="img-fluid"><br><br>
      		<h5 class="text-left px-3">The menu consists mostly of fish, since Tayabas is known for their light and delectable seafood compared to Lucban's meat fest. Big winners are the Inihaw na Pla-Pla (also known as tilapia), and the inihaw na Hito. </h5><br><br><br>
      		<a routerLink="/facilities">Visit <span class="fa fa-chevron-right ml-3"></span></a>
      	</div>
        
      </div>
    </div>
  </div>
</div>
