<hotel-carousel></hotel-carousel>

<div class="container" id="hotel-renthouse" [@fadeIn]>
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center py-5">
			<h1>Resthouse</h1><br>
			<h5>Good for Twenty (20) Persons. Check-In Time: 2:00 PM. Check Out Time: 12:00 NOON</h5>
		</div>

		<div class="col-md-6 text-center mb-4 px-3">
			<div class="card py-5 px-4">
				<h5>Regular Season Rate: (Jan-Feb/ July-Nov):
	    		</h5><hr>
	    		<p class="px-3">Weekday(Sun-Thu): Php 8,400.00+ <br>Weekend(Fri,Sat, Holidays): Php 10,000.00+</p><br>
			</div>
		</div>

		<div class="col-md-6 text-center mb-4 px-3">
			<div class="card py-5 px-4">
				<h5>Peak Season Rate(March, April, May, June & Dec.):
	    		</h5><hr>
	    		<p class="px-3">Weekday(Sun-Thu): Php 10,000.00+ <br> Weekend(Fri, Sat, Holidays, all days preceding a Holiday & Dec. 24-Jan.1): Php 12,000.00+ </p>
			</div>
		</div>

		<div class="col-md-12 col-lg-12 text-center py-5">
			<h5>Capacity: 20 Persons</h5>
			<h5>Extra Guest: Php 150.00</h5>
			<h5>Maximum additional: 10 (fees apply)</h5><hr>
		</div>

		<div class="col-md-8 pb-5 px-4">
			<img class="d-block w-100 img-thumbnail shadow-sm" src="/assets/images/resthouse.jpg">

			<div class="pt-5">
				<h4>Inclusions</h4>
				<ul>
					<li>Accommodation for twenty(20) persons</li>
					<li>Ventilated Room w/ Comfort Room</li>
					<li>Free use of swimming pool</li>
				</ul>

			</div>
			<hr>
			<div class="pb-5">
				<h4>Mode of Payment</h4>			
				<p>
					At least 25% initial down payment upon reservation/Contract Signing.<br> Cash Payment only, for the remaining 75% balance to be completed on the day of the Event.
				</p>

				<hr>

				<h4>Note</h4>			
				<p>
					Additional Php 5,000 food consumable (Mandatory) Towels & morning Kit are not included.
				</p>
			</div>
		</div>
		<div class="col-md-4 pb-5">
			<img class="d-block w-100 img-thumbnail shadow" src="/assets/images/resthouse5.jpg">
			<img class="d-block w-100 img-thumbnail shadow" src="/assets/images/resthouse6.jpg">
			<img class="d-block w-100 img-thumbnail shadow" src="/assets/images/resthouse3.jpg">

		</div>
	</div>
</div>

<!--
		
-->