<hotel-carousel></hotel-carousel>

<div class="container" id="facilities">
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center py-5 px-md-5" [@fadeIn]>
			<h1>Facilities</h1><br>
			<h5 class="d-none d-sm-none d-md-block">es it's more fun here in Kamayan Sa Palaisdaan! It is a wonderful place to bring your entire family for a treat to our restaurant, to do recreation or just simply to relax and get away from the city life. Kamayan Sa Palaisdaan is one of the top tourist destinations in the Philippines having featured in the television internationally more than once. What are you waiting for? Go here and have fun!<br> </h5>
		</div>

		<div class="col-md-6 col-lg-6">
			<div class="item">
				<img src="/assets/images/facility.jpg" class="img-fluid img-thumbnail">
			</div>
			
		</div>

		<div class="col-md-6 col-lg-6">
			<div class="item">
				<img src="/assets/images/facility2.jpg" class="img-fluid img-thumbnail">
			</div>
		</div>

		<div class="col-md-12 py-5"><hr></div>
	</div>
</div>



<div class="container-fluid pb-5">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-lg-4 text-center py-4">
				<div class="card px-md-3 py-4 pb-3">
					<strong><h3>Restaurant</h3></strong><br>
					<img src="/assets/images/facilities.png" class="img-fluid"><br><br>
					<h5 class="text-left px-3">The Kamayan sa Palaisdaan Restaurant is a mecca for seafood lovers as it serves scrumptious fresh seafoods and other Filipino favorites in a serene atmosphere. Kamayan Sa Palaisdaan Air plane Ready for Take off, just waiting for you! Get ready for a fun dining experience like no other.</h5><br>
					<a href="/">Visit <span class="fa fa-chevron-right ml-3"></span></a>
				</div>

			</div>

			<div class="col-md-4 col-lg-4 text-center py-4">
				<div class="card px-md-3 py-4 pb-3">
					<strong><h3>Hotel/Pool</h3></strong><br>
					<img src="/assets/images/pool.png" class="img-fluid"><br><br>
					<h5 class="text-left px-3">Kamayan sa Palaisdaan Restaurant Hotel and Resort offers air-conditioned rooms that are furnished with an ultra-comfortable bed with crisp linens, TV with cable programming, other standard room amenities such as towels and toiletries, and a private toilet and bath with hot and cold shower. </h5><br>
					<a routerLink="/hotels">Visit <span class="fa fa-chevron-right ml-3"></span></a>
				</div>
			</div>

			<div class="col-md-4 col-lg-4 text-center py-4">
				<div class="card px-md-3 py-4 pb-3">
					<strong><h3>Best Seller</h3></strong><br>
					<img src="/assets/images/bestseller.png" class="img-fluid"><br><br>
					<h5 class="text-left px-3">The menu consists mostly of fish, since Tayabas is known for their light and delectable seafood compared to Lucban's meat fest. Big winners are the Inihaw na Pla-Pla (also known as tilapia), and the inihaw na Hito. </h5><br><br><br>
					<a href="/">Visit <span class="fa fa-chevron-right ml-3"></span></a>
				</div>

			</div>
		</div>
	</div>
</div>