<hotel-carousel></hotel-carousel>

<!--
<button type="button" (click)="goToMenu()" class="btn btn-menu text-white btn-activity btn-header d-none d-sm-none d-md-block">
  <span class="fa fa-chevron-circle-down btn-header-arrow"></span>
</button>-->

<div class="container-fluid" [@slideInOut]>
	<div class="container card about-position px-md-5" id="facilities">
		<div class="row">
			<div class="col-md-12 col-lg-12 text-center py-5 px-md-5" [@fadeIn]>
				<h1 class="d-none d-sm-none d-md-block">Facilities</h1>
				<h3 class="d-block d-sm-block d-md-none">Facilities</h3>
				<br>
				<h5 class="d-none d-sm-none d-md-block">Yes it's more fun here in Kamayan Sa Palaisdaan! It is a wonderful place to bring your entire family for a treat to our restaurant, to do recreation or just simply to relax and get away from the city life. Kamayan Sa Palaisdaan is one of the top tourist destinations in the Philippines having featured in the television internationally more than once. What are you waiting for? Go here and have fun!<br> </h5>

				<h5 class="d-block d-sm-block d-md-none text-justify px-3">Yes it's more fun here in Kamayan Sa Palaisdaan! It is a wonderful place to bring your entire family for a treat to our restaurant, to do recreation or just simply to relax and get away from the city life. Kamayan Sa Palaisdaan is one of the top tourist destinations in the Philippines having featured in the television internationally more than once. What are you waiting for? Go here and have fun!<br> </h5>
			</div>
		</div>
	</div>

	<div class="container pb-5">
		<div class="row">
			<!-- Restaurant -->
			<div class="col-md-12 text-center">
				<div class="card-hover-shadow">
					<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
						<img src="/assets/images/restaurant.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
					</div>
					<div class="media card-block">
						<img src="/assets/images/restaurant.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
						<div class="media-body text-left pl-md-5 pt-md-4">
							<h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Restaurant
								<a routerLink="/restaurant" class="float-right pr-md-5">Visit <span class="fa fa-chevron-right ml-3"></span></a>
							</h3>
							<hr>
							<p class="px-3">The Kamayan sa Palaisdaan Restaurant is a mecca for seafood lovers as it serves scrumptious fresh seafoods and other Filipino favorites in a serene atmosphere. Kamayan Sa Palaisdaan Air plane Ready for Take off, just waiting for you! Get ready for a fun dining experience like no other.</p>
							
						</div>
					</div>
				</div>
			</div>

			<!-- Hotel/Pool -->
			<div class="col-md-12 text-center"><br>
				<div class="card-hover-shadow">
					<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
						<img src="/assets/images/pool.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
					</div>
					<div class="media card-block">
						<img src="/assets/images/pool.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
						<div class="media-body text-left pl-md-5 pt-md-4">
							<h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Hotel/Pool 
								<a routerLink="/hotels" class="float-right pr-md-5">Visit <span class="fa fa-chevron-right ml-3"></span></a>
							</h3>
							<hr>
							<p class="px-3">Kamayan sa Palaisdaan Restaurant Hotel and Resort offers air-conditioned rooms that are furnished with an ultra-comfortable bed with crisp linens, TV with cable programming, other standard room amenities such as towels and toiletries, and a private toilet and bath with hot and cold shower.</p>
							
						</div>
					</div>
				</div>
			</div>

			<!-- Zipline -->
			<div class="col-md-12 text-center"><br>
				<div class="card-hover-shadow">
					<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
						<img src="/assets/images/zip.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
					</div>
					<div class="media card-block">
						<img src="/assets/images/zip.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
						<div class="media-body text-left pl-md-5 pt-md-4">
							<h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Zip-line 
							</h3>
							<hr>
							<p class="px-3">A Zip line is, at its most simple, a cable that starts at a higher point than it ends. Using the natural decline of the slope, a person or cargo can travel down the wire on a pulley system that minimizes friction to help the rider accelerate. Try out our Zip-line now.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 text-center"><br>
				<div class="card-hover-shadow">
					<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
						<img src="/assets/images/conference.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
					</div>
					<div class="media card-block">
						<img src="/assets/images/conference.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
						<div class="media-body text-left pl-md-5 pt-md-3">
							<h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Summit Cafe & Conference Room 
							</h3>
							<hr>
							<p class="px-3">What makes Kamayan Sa Palaisdaan a great place is that you can have your business meeting or conference here then after that you can have time for your family. You save time by planning and scheduling your business meeting/conference here and afterwards your can spend your time with your family or the other way around family first then business meeting/conference later, well it's up to you. Our place is so versatile! Who says balancing work and family life are so hard? Well not anymore at Kamayan Sa Palaisdaan. </p>
							
						</div>
					</div>
				</div><hr>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid pb-5">
	
</div>

<div class="container pb-5">
	<div class="row">
		<div class="col-md-6 col-lg-6">
			<div class="item">
				<img src="/assets/images/facility.jpg" class="img-fluid img-thumbnail">
			</div>

		</div>

		<div class="col-md-6 col-lg-6">
			<div class="item">
				<img src="/assets/images/facility2.jpg" class="img-fluid img-thumbnail">
			</div>
		</div>
	</div>
</div>
