.menu{
	background:  #88bc71;
}

.about-position{
  @media (max-width:641px)  { 
    margin-top: -10% !important;
    border-radius: 10px 10px 0  0;
    border: none;
  }

  &.card{
    border:none !important;

    &:hover{
      box-shadow: none;
      cursor: auto;
    }
  }
}

.card{
	border: none;

	img{
		display:block;
    	margin:auto;
		width: 100px;
		right: auto;
		left: auto;
	}

	&:hover{
		box-shadow: 5px 2px 5px #e6e6e6;
		-moz-box-shadow: 0px 2px 5px #e6e6e6;
		-webkit-box-shadow: 0px 2px 5px #e6e6e6;     
		cursor: pointer;
		-moz-transition: all 0.2s;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}
}

.item {
  position: relative;
  border: 1px solid #e2e2e2;
  overflow: hidden;

  img{
    max-width: 100%;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  &:hover img {
    cursor: pointer;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 0;
    position: relative;
  }

  

  &:before{
    content: "";
      color: white;
      position: absolute;
      left: 0; 
      right: 0;
      top: 0; 
      bottom: 0;
      background: rgba(0,0,0, 0.2);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67229', endColorstr='#fff0de', GradientType=1 );
    
  }
}

.thumbnail {
  position: relative;
  height: 150px;
  overflow: hidden;
  background-color: whitesmoke;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    &:hover{
      cursor: pointer;
      -moz-transform: scale(2);
      -webkit-transform: scale(2);
      transform: scale(2);
      z-index: 0;
      top: 0;
      left: 20%;
      right: 20%;
      bottom: 0
    }

    &:before{
      content: "";
        color: white;
        position: absolute;
        left: 0; 
        right: 0;
        top: 0; 
        bottom: 0;
        background: rgba(0,0,0, 0.2);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67229', endColorstr='#fff0de', GradientType=1 );
      
    }
  }

  img.portrait {
    width: 100%;
    height: auto;
  }
}

h3{
	a{
		padding-top: 20px;
		font-size: 14px;
		font-weight: 600;
	}
}

.menu{
  background:  #88bc71;
}

.btn-header{
  position: absolute;
  top: 81.5%;
  right: 5%;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 2;
}

.btn-header-arrow{
  -moz-transform: rotate(-45deg) !important;
  -webkit-transform: rotate(-45deg) !important;
  -o-transform: rotate(-45deg) !important;
  transform: rotate(-45deg) !important;
  font-size: 18px !important;
  padding-right: 4px;
  z-index: -1;
  padding-top: 5px;
  cursor: pointer;
}

.btn-activity{
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.btn-menu{
  background: #88bc71;
}