/* You can add global styles to this file, and also import other style files */
body{

}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    background: #4B515D;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}