

.first-footer{
	background-color: rgba(60, 147, 108, 0.35); 
	padding-top: 20px; 
	padding-bottom: 50px;
}

.second-footer{
	background-color:rgb(91, 99, 86); 
	padding-top: 20px; 
	padding-bottom: 20px;
}

