<div class="container-fluid px-0" style="background-color:rgb(91, 99, 86); padding-top: 2px; padding-bottom: 2px;">
</div>

<div class="container-fluid px-0 py-5 first-footer">
	<footer>
		<div class="container">
			<div class="row text-left"  style="color: rgb(84, 96, 86)">
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>ABOUT US</b></h3><hr>
					<p><a href= "#" style="color:rgb(82, 89, 62)">About Us</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Press & Media</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Amenities</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">History - Featured Article</a></p>
				</div>
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>RESTAURANT</b></h3><hr>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Brgy. Dapdap, Tayabas City</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Quezon, Phil.</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">(042)793-3654 or 55</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Smart 0918-951-0460</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Globe 0917-556-2642</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">kamayansapalaisdaan@ymail.com</a></p>				
				</div>
				<div class="col-md-4 col-sm-4" style="padding-left: 60px;">
					<h3><b>HOTEL & RESORT</b></h3><hr>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Brgy. Dapdap, Tayabas City, Quezon</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">(042) 793-0088</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Globe: 0917-680-1819</a></p>
					<p><a href= "#" style="color:rgb(82, 89, 62)">Smart: 0920-978-6450</a></p>
				</div>
			</div>
		</div>
	</footer>
</div>
<div class="container-fluid px-0 second-footer">
	<footer >
		<div class="container">
			<div class="row text-center"  style="color: white;">
				<div class="col-md-12 col-sm-12">
					Copyright © 1996-2018 Kamayan Sa Palaisdaan, All rights reserved. Prices are subject to change without prior notice.
				</div>
			</div>
		</div>
	</footer>
</div>