<!-- Header carousel -->
<menu-carousel></menu-carousel>

<div class="container py-5" id="native-style" [@fadeIn]>
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center">
			<h1>Native Style Wedding Package</h1>
			<h4>Native Style Wedding Package is for Minimum of 100 persons</h4>
			<br><br>
			<h5 class="text-left">The menu consists mostly of fish, since Tayabas is known for their light and delectable seafood compared to Lucban's meat fest. Big winners are the Inihaw na Pla-Pla (also known as tilapia), and the inihaw na Hito. All his cooks are native chefs, so one can expect an authentic taste of Tayabas in their dishes. Other dishes, worthy of praise are the Inihaw na Spare Ribs, Squid in Oyster Sauce, and their own version of Salpicao (mixed vegatable &
			 seafoods). </h5>

			<div class="py-4 my-5" [@scrollAnimation]="state">
				<img src="/assets/images/native-style.jpg" class="img-fluid shadow">
			</div>

			
		</div>

		<div class="col-md-12 px-md-5 text-justify">
			<h4>Inclusions</h4>
			<ul>
				<li>Three Layered Wedding Cake</li>
				<li>Decorated Cage w/ Pair of Doves</li>
				<li>A Bottle of Red Wine for the Ceremonial Toast</li>
				<li>Accommodation in a Deluxe Room with breakfast for the newly weds</li>
				<li>Complimentary Food Tasting for the Couple</li>
				<li>Complimentary use of GARDEN HALL for five (5) consecutive hours</li>
				<li>Function Hall Set-Up according to your chosen Motif</li>
				<li>Buffet Table with floor length linen with skirting following the menu of your choice</li>
				<li>Plate Service for the Couple, Principal and Secondary Sponsors</li>
				<li>Well designed floral arrangement for the Table for the Newly Weds, Table for the Principal Sponsors, Guest Tables and Table for the Secondary sponsors</li>
				<li>Dressed up Cake Table and Gift Table</li>
				<li>Sound System with DJ(operator) and Event Host</li>
				<li>Use of L.C.D. Projector and use of Laptop</li>
				<li>Use of Bridal Car</li>
			</ul>
		</div>

		<div class="col-md-12 px-md-5 text-justify"><hr>
			<h4>Mode of Payment</h4>			
			<p>
				At least 25% initial down payment upon reservation/Contract Signing.<br> Cash Payment only, for the remaining 75% balance to be completed on the day of the Event.
			</p>
		</div>

		<div class="col-md-12 text-center"><hr>
			<i class="text-muted">Prices are subject to change without prior notice. </i>
		</div>
		
		
		
	</div>
	
</div>

