<hotel-carousel></hotel-carousel>

<div class="container" id="dormitory-room" [@fadeIn]>
	<div class="row">
		<div class="col-md-12 col-lg-12 text-center py-md-5 pt-5">
			<h1>Dormitory Rooms</h1><br>
			<h5>Check-In Time: 2:00 PM. Check Out Time: 12:00 NOON</h5>
		</div>

		

		<div class="col-md-6 col-lg-6 pt-3">
			<div class="item">
				<img src="/assets/images/dorm-main.jpg" class="img-fluid img-thumbnail">
			</div>
			
		</div>

		<div class="col-md-6 col-lg-6 pt-3">
			<div class="item">
				<img src="/assets/images/dorm-main2.jpg" class="img-fluid img-thumbnail">
			</div>
		</div>

		<div class="col-md-4 col-lg-4 pt-md-5 pt-3 pl-md-5">
			<div>
				<h4>Inclusions</h4>
				<ul>
					<li>Accommodation for Guest</li>
					<li>Fully Air-Conditioned Rooms</li>
					<li>Cable-Ready Flat Screen Television</li>
					<li>Free use of swimming pool</li>
				</ul>
			</div>
		</div>

		<div class="col-md-8 col-lg-8 pt-md-5 pt-3">
			<div>
				<h4>Note</h4>
				<ul>
					<li>Towels & morning Kit are NOT INCLUDED.</li>
					<li>Without Breakfast</li>
					<li>In excess of the capacity of this dormitory, the extra guest will be charged with Php 500.00/head (Extra mattress – upon request)</li>
				</ul>
			</div>
		</div>


		<!-- Dorm 1 -->
		<div class="col-md-12 text-center"><hr>
		    <div class="card-hover-shadow">
		    	<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
		    		<img src="/assets/images/dorm1.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
		    	</div>
		        <div class="media card-block">
		          <img src="/assets/images/dorm1.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
		          <div class="media-body text-left pl-md-5">
		            <h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Dormitory 1, Dormitory 2, Dormitory 3</h3>
		            <h5 class="px-3 pt-2">Capacity: 8 Persons | Extra Guest: Php 500.00</h5><hr>
    				<h5>Regular Season Rate: (Jan-Feb/ July-Nov):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 4,700.00<br>Weekend(Fri, Sat, Holidays): Php 5,600.00</p>
    	    		<br>
    				<h5>Peak Season Rate(March, April, May, June & Dec.):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 5,600.00<br>
        			Weekend(Fri, Sat, Holidays, all days preceding a Holiday & Dec. 24-Jan.1): Php 6,700.00
        			</p>
		          </div>
		        </div>
		    </div><hr>
		</div>

		<!-- Dorm 4 -->
		<div class="col-md-12 text-center">
		    <div class="card-hover-shadow">
		    	<div class="d-none d-sm-block d-block d-md-none pl-0 d-lg-none">
		    		<img src="/assets/images/dorm4.jpg" class="img img-fluid shadow-sm" style="width: 100%; border: 2px solid #e2e2e2;">
		    	</div>
		        <div class="media card-block">
		          <img src="/assets/images/dorm4.jpg" class="img img-fluid shadow-sm m-2 mt-md-4 d-none d-md-block d-lg-block" style="width: 30%; border: 2px solid #e2e2e2;">
		          <div class="media-body text-left pl-md-5">
		            <h3 class="card-title" style="margin-top: 20px; margin-bottom: 0;">Dormitory 4, Dormitory 5</h3>
		            <h5 class="px-3 pt-2">Capacity: 10 Persons | Extra Guest: Php 500.00</h5><hr>
    				<h5>Regular Season Rate: (Jan-Feb/ July-Nov):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 5,900.00<br>Weekend(Fri, Sat, Holidays): Php 7,000.00</p>
    	    		<br>
    				<h5>Peak Season Rate(March, April, May, June & Dec.):</h5>
    	    		<p class="px-3"> Weekday(Sun-Thu): Php 7,000.00<br>
        			Weekend(Fri, Sat, Holidays, all days preceding a Holiday & Dec. 24-Jan.1): Php 8,400.00
        			</p>
		          </div>
		        </div>
		    </div><hr>
		</div>

		<div class="col-md-12 col-lg-12 text-center py-md-3 pt-5">
			<h1>Dormitory Rooms Gallery</h1><br>
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/dorm1.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-2">
			<div class="card thumbnail">

				<img src="/assets/images/dorm1a.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/dorm2.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/dorm5.jpg">
			</div>
			
		</div>

		<div class="col-md-4 pb-5">
			<div class="card thumbnail">

				<img src="/assets/images/dorm4.jpg">
			</div>
			
		</div>


	</div>
</div>
